@font-face {
  font-family: "JSC-Icon";
  src: url("../fonts/jsc-icon/JSC-Icon.ttf?tpa3mw") format("truetype"), url("../fonts/jsc-icon/JSC-Icon.woff?tpa3mw") format("woff"), url("../fonts/jsc-icon/JSC-Icon.svg?tpa3mw#JSC-Icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "JSC-Icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jsc-icon-coffee-cup:before {
  content: "\e919";
}
.jsc-icon-github:before {
  content: "\e90b";
}
.jsc-icon-user:before {
  content: "\e90a";
}
.jsc-icon-toggle-on:before {
  content: "\e908";
}
.jsc-icon-toggle-off:before {
  content: "\e909";
}
.jsc-icon-run:before {
  content: "\e900";
}
.jsc-icon-clear-all:before {
  content: "\e901";
}
.jsc-icon-chat-bubble:before {
  content: "\e90c";
}
.jsc-icon-clear:before {
  content: "\e90d";
}
.jsc-icon-save:before {
  content: "\e902";
}
.jsc-icon-folder:before {
  content: "\e903";
}
.jsc-icon-radio-off:before {
  content: "\e90e";
}
.jsc-icon-arrow-back:before {
  content: "\e91a";
}
.jsc-icon-arrow-forward:before {
  content: "\e91b";
}
.jsc-icon-cancel:before {
  content: "\e90f";
}
.jsc-icon-fullscreen:before {
  content: "\e910";
}
.jsc-icon-fullscreen-exit:before {
  content: "\e911";
}
.jsc-icon-more:before {
  content: "\e904";
}
.jsc-icon-caret-back:before {
  content: "\e91c";
}
.jsc-icon-caret-forward:before {
  content: "\e91d";
}
.jsc-icon-share:before {
  content: "\e905";
}
.jsc-icon-check-box-on:before {
  content: "\e912";
}
.jsc-icon-check-box-off:before {
  content: "\e913";
}
.jsc-icon-radio-on:before {
  content: "\e914";
}
.jsc-icon-check-circle-filled:before {
  content: "\e915";
}
.jsc-icon-delete:before {
  content: "\e906";
}
.jsc-icon-info:before {
  content: "\e916";
}
.jsc-icon-check-circle-outline:before {
  content: "\e917";
}
.jsc-icon-logout:before {
  content: "\e918";
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    font-family: Consolas,'Courier New', Courier, monospace;
    counter-reset: consoleLogCounter;
    background: #f7f7f7;
  }
  a {
    text-decoration: none;
    color: #999;
  }
  button, select {
    font-family: inherit;
    font-size: inherit;
    height: 44px;
    padding: 0 16px;
    border-radius: 8px;
    border: 1px solid #232323;
    outline: none;
  }
  button {
    background: transparent;
    cursor: pointer;
  }
  ul {
    list-style: none;
  }
  ul li {
    padding: 0;
  }
  pre {
    font-family: inherit;
  }
  /*!
   * Toastify js 1.11.1
   * https://github.com/apvarun/toastify-js
   * @license MIT licensed
   *
   * Copyright (C) 2018 Varun A P
   */
  .toastify {
    padding: 8px 16px;
    color: #504747;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: #fbf0a9;
    position: fixed;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    max-width: calc(50% - 20px);
    z-index: 2147483647;
  }
  .toastify.on {
    opacity: 1;
  }
  .toast-close {
    opacity: 0.4;
    padding: 0;
    margin-left: 16px;
  }
  .toastify-right {
    right: 15px;
  }
  .toastify-left {
    left: 15px;
  }
  .toastify-top {
    top: -150px;
  }
  .toastify-bottom {
    bottom: -150px;
  }
  .toastify-rounded {
    border-radius: 25px;
  }
  .toastify-avatar {
    width: 1.5em;
    height: 1.5em;
    margin: -7px 5px;
    border-radius: 2px;
  }
  .toastify-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content;
    max-width: -moz-fit-content;
  }
  @media only screen and (max-width: 360px) {
    .toastify-right, .toastify-left {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      max-width: fit-content;
    }
  }
  .toastify-error {
    color: #fff;
    background-color: rgba(182, 23, 23, 0.5);
  }
  .toastify-success {
    color: #fff;
    background-color: rgb(19, 185, 116, 0.5);
  }
  /* Scaffolding */
  .header {
    background: #232323;
    color: #fff;
  }
  @media (max-width: 480px) {
    .header {
      height: 40px;
      position: relative;
    }
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
  }
  .header .brand img {
    width: 98px;
    vertical-align: middle;
  }
  .header .actions a, .header .actions button {
    padding: 0 6px;
    color: #fff;
    height: 28px;
    vertical-align: middle;
    background: #666;
  }
  .header .actions a i, .header .actions button i {
    font-size: 20px;
    vertical-align: text-bottom;
  }
  .header .actions a.login, .header .actions button.login, .header .actions a.account, .header .actions button.account {
    width: auto;
    background: transparent;
    padding: 0 8px;
  }
  .header .actions a.login i, .header .actions button.login i, .header .actions a.account i, .header .actions button.account i {
    font-size: 24px;
    vertical-align: middle;
  }
  @media (max-width: 480px) {
    .header .actions a span, .header .actions button span {
      display: none;
    }
  }
  .header .actions a {
    height: 28px;
    line-height: 28px;
    border-radius: 8px;
    display: inline-block;
  }
  .account-details {
    position: absolute;
    top: 40px;
    right: 12px;
    width: 180px;
    height: 96px;
    border-radius: 8px;
    background-color: #666;
    padding: 16px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease-in;
  }
  .account-details.open {
    visibility: visible;
    opacity: 1;
    z-index: 5;
  }
  .account-details button {
    color: #999;
    border: none;
    margin-bottom: 4px;
  }
  /* Form Controls */
  .form-group {
    margin-bottom: 16px;
  }
  