.index-page {
    overflow: hidden;
    height: 100vh;
    max-height: -moz-available;
    /* WebKit-based browsers will ignore this. */
    max-height: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    max-height: fill-available;
    background: #222222;
  }
  .console {
    width: 100%;
    background: #222222;
  }
  .console .console-header {
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .console .console-header h4 {
    color: #999;
  }
  .console .console-header button {
    padding: 0 8px;
    height: 24px;
    vertical-align: middle;
    border: none;
    color: white;
    background: #449DFF;
  }
  .console .console-header button i {
    font-size: 18px;
    vertical-align: text-bottom;
  }
  .console .console-header button span {
    font-size: 14px;
  }
  .console iframe {
    border: none;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .emulator-display {
    width: 100%;
    background: #222222;
  }
  .emulator-display .display-header {
    width: 100%;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .emulator-display .display-header h4 {
    color: #999;
  }

  .emulator-display .display-header button {
    padding: 0 8px;
    height: 24px;
    vertical-align: middle;
    border: none;
    color: white;
    background: #449DFF;
  }
  .emulator-display .display-header button i {
    font-size: 18px;
    vertical-align: text-bottom;
  }
  .emulator-display .display-header button span {
    font-size: 14px;
  }
  #right-container {
    background: #222222;
    display: flex; 
    flex: 1 1 0%; 
    flex-direction: column;
    height: calc(100vh - 55px);
  }
  #display {
    height: 480px;
    background-color: black;
    opacity: 1;
    z-index: 20;
  }
  .code {
    background: #222222;
    height: calc(100vh - 55px);
    width: 60%;
    color-scheme: dark;
  }
  .code .code-header {
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .code .code-header button {
    padding: 0 8px;
    height: 24px;
    vertical-align: middle;
    border: none;
    color: white;
    background: #449DFF;
  }
  .code .code-header button i {
    font-size: 18px;
    vertical-align: text-bottom;
  }
  .code .code-header button span {
    font-size: 14px;
  }
  .code .code-header .project-link {
    display: flex;
    align-items: center;
    color: #999;
  }
  .code .code-header h4 {
    color: #999;
  }
  .code .code-header .project-link span {
    margin: 0 4px;
    color: #ddd;
  }
  .code .code-header .project-link input {
    border: none;
    background: transparent;
    color: #999;
    height: 24px;
    padding: 0 4px;
  }
  .code .code-header .project-link input:focus {
    background: #444;
  }
  .code #brsCode {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    background: #444;
    color: #fff;
    font-size: 18px;
    padding: 16px;
  }
  .code #brsCode:focus, .code #brsCode:active {
    outline: none;
    box-shadow: none;
  }
  .editor {
    display: flex;
    width: 100%;
  }
  .editor .console {
    height: 45%;
  }
  .editor .console #console-logs {
    color-scheme: dark;
    font-size: 12px;
    overflow: auto;
    height: 92%;
  }
  @media (max-width: 480px) {
    .editor {
      flex-direction: column;
    }
    .editor .code, .editor .console {
      width: 100%;
    }
    .editor .code {
      height: 60%;
    }
    .editor .console {
      height: 40%;
    }
  }
  .layout-separator {
    width: 3px;
    margin: 0 -1px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: #232323;
    opacity: 0;
    z-index: 4;
    cursor: col-resize;
    opacity: 0.8;
  }
  .layout-separator:hover {
    opacity: 0.4;
  }
  