<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Cross-Origin-Embedder-Policy" value ="require-corp" />
                <add name="Cross-Origin-Opener-Policy" value="same-origin" />
                <add name="Access-Control-Allow-Origin" value ="*" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>